.errMsg {
  background: rgb(250, 61, 61);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  letter-spacing: 1.3px;
}
.successMsg {
  background: rgb(9, 158, 54);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  letter-spacing: 1.3px;
}
